# В этом файле записаны шаблоны имён файлов, которые должны быть
# проигнорированы в репозиториях всех разработчиков.

# Вместо добавления пунктов в этот файл, возможно, следует изменить
# файл .git/info/exclude (содержит шаблоны, применяемые только
# для вашей копии репозитория) или создать gitignore на уровне
# пользователя, который будет применён для всех ваших репозиториев.
#
# Подробнее читай в справке по gitignore:
# https://git-scm.com/docs/gitignore.

out/

# JetBrains CLion
cmake-build-debug/
.idea/

# Vagrant
.vagrant/
